.body {
    width: 100vw;
    height: 100vh;
    color: red;
    font-size: 50px;
    font-weight: 600;
    font-family: 'calibri','Times New Roman';
    display: flex;
    justify-content: center;
    align-items: center;
}