:host {
    --background--: white;
    --borders--: black;
    --text--: black;
}

.body {
    min-height: 100vh;
    width: 100%;
}

.navbar1 {
    position: sticky;
    top: 0px;
    height: 10vh;
    background-color: var(--borders--);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    color: white;
    font-size: 30px;
}