<div class="container pt-3">
    <div class="row">
        <div class="col">
            <div class="cc-form jumbotron">
                <div class="cc-maintitle">Codechef Crawler</div>
                <input type="text" placeholder="Enter Username" id="cc-username">
                <div class="btn btn-primary btn-sm" onclick="codechefSubmissions()">Get info</div>
            </div>
            <p>Note: 1) This may not give the appropriate results and also takes some time to get result :(</p>
            <div id="cc-response"></div>
        </div>
    </div>
</div>
