<div class="body">
    <div class="first-nav">
        <ul>
            <li><a href="#"><i class="fa fa-apple" style="font-size:20px"></i></a></li>
            <li><a href="#">Mac</a></li>
            <li><a href="#">iPad</a></li>
            <li><a href="#">iPhone</a></li>
            <li><a href="#">Watch</a></li>
            <li><a href="#">TV</a></li>
            <li><a href="#">Music</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#"><i class="fa fa-search" style="font-size:20px"></i></a></li>
            <li><a href="#"><i class="fas fa-shopping-bag"></i></a></li>
        </ul>
    </div>
    <div class="sticky second-nav fixed-top">
        <div class="column1">
            <a href="#">iPad Pro</a>
        </div>
        <div class="column2">
            <ul>
                <li><a href="#">Overview</a></li>
                <li><a href="#">Why iPad</a></li>
                <li><a href="#">Tech Specs</a></li>
                <li><div class="btn btn-primary rounded-pill">Order</div></li>
            </ul>
        </div>
    </div>
    <div class="component">
        <div class="image">
            <img src="../../assets/Images/Apple1.png" width="550px" height="400px" alt="iPad">
            <img src="../../assets/Images/Apple2.png" width="700px" height="400px" alt="iPad">
            <img src="../../assets/Images/Apple3.png" width="550px" height="400px" alt="iPad">
            <div>The ultimate iPad experience. With next-level</div>
            <div>M1 performance, a breathtaking XDR display and</div>
            <div>fast wireless. Buckle up.</div>
            <p class="text-white">Available from second half of May</p>
            <br><br><br><br>
        </div>
    </div>
</div>

