<div class="container">
    <div class="resume"> My Resume</div>
    <div class="body1">
        <div class="details">
            <div class="name">Uppalanchi Venkatesh</div>
            <div class="para">
                <p class="pm">3rd year B.Tech, Computer Science and Engineering, </p>
                <p class="pm">CMR College of Engineering and Technology, Hyderabad.</p>
                <p class="pm">Email id: uppalanchivenkatesh14@gmail.com</p>
                <p class="pm">Contact no: 7095944735</p>
            </div>
        </div>
        <div class="objective">
            <div class="heading">CAREER OBJECTIVE</div> 
            <div class="matter">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; To work in a firm with a professional work driven environment where I can utilize and apply my 
                knowledge, skills which would enable me as a fresh graduate to grow while fulfilling organizational 
                goals.
            </div>
        </div>
        <div class="education">
            <div class="heading">EDUCATIONAL QUALIFICATIONS</div>
            <div class="table">
                <thead class="matter">
                    <tr>
                        <th>Qualification</th>
                        <th>School/College</th>
                        <th>Board/University</th>
                        <th>Year</th>
                        <th>Percentage</th>
                    </tr>
                </thead>
                <tbody class="matter">
                    <tr>
                        <td>B.Tech(3rd year 2nd Sem CSE)</td>
                        <td>CMR College of Engineering and Technology, Hyderabad</td>
                        <td>Jawaharlal Nehru Technological University, Hyderabad</td>
                        <td>2018-2022</td>
                        <td>75.8%</td>
                    </tr>
                    <tr>
                        <td>Intermediate</td>
                        <td>Sri Gayathri Junior College, Kukatpally</td>
                        <td>Board of Intermediate</td>
                        <td>2016-2018</td>
                        <td>86.1%</td>
                    </tr>
                    <tr>
                        <td>High School</td>
                        <td>Sri Vivekananda High School, Medchal</td>
                        <td>Board of Secondary Education</td>
                        <td>2012-2016</td>
                        <td>86%</td>
                    </tr>
                </tbody>
            </div>
        </div>
        <div class="project">
            <div class="heading">PROJECT-1</div>
            <div class="projecttitle">Title: Controlling the Overflow of an Overhead Water tank</div>
            <div class="matter">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The aim of this project is to make an Arduino based device that will automatically turn offs the 
                motor, when water is at a particular distance from this device sensor that has been set in the device. 
            </div>
        </div>
        <div class="project">
            <div class="heading">PROJECT-2</div>
            <div class="projecttitle">Title: Better Locking System</div>
            <div class="matter">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;An Arduino based Bluetooth device which will lock door from inside a room instead from 
                outside. This device can be controlled by our smart phone through an app.
            </div>
        </div>
        <div class="project">
            <div class="heading">PROJECT-3</div>
            <div class="projecttitle">Title: Reading Room Management System</div>
            <div class="matter">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A web application that provides an interface for students to book available seats in the reading 
                room through online and admin can also manage student’s data from database by using CRUD operations 
                instead of entering details in a book.
            </div>
        </div>
        <div class="technical">
            <div class="heading">TECHNICAL SKILLS</div>
            <div class="matter">
                <ul>
                    <li><span class="bold">Programming Languages:</span>  C, C++, Java, SQL, PLSQL, JavaScript</li>
                    <li><span class="bold">General and graphic application:</span> HTML, CSS, JavaScript, Node JS</li>
                    <li>Operating Systems: Windows and Linux</li>
                    <li>Microsoft Excel, Word and PowerPoint</li>
                </ul>
            </div>
        </div>
        <div class="curricular">
            <div class="heading">EXTRA CURRICULAR ACTIVITIES</div>
            <div class="matter">
                <ul>
                    <li>Participated in many technical events held at my college in Azura 2K18 and 2K19 CMRCET.</li>
                    <li>Participated in CODETHON 1 & 2 conducted by CMRCET.</li>
                    <li>Attended work shop on Auto Suggest.</li>
                    <li>Participated in CODEVITA season 9.</li>
                </ul>
            </div>
        </div>
        <div class="declaration">
            <div class="heading">DECLARATION</div>
            <div class="matter">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I do hereby declare that the above information is true to the best of my knowledge.
            </div><br><br><br>
        </div>
    </div>
</div>
  