<h1>welcome everyone</h1>
<div class="container router">
    <a href="/resume" class="btn btn-primary">Resume</a>
    <a href="/tambola" class="btn btn-secondary">Tambola</a>
    <a href="/google" class="btn btn-success">Google</a>
    <a href="/apple" class="btn btn-warning">Apple</a>
    <a href="/colorgenerator" class="btn btn-danger">GenerateColor</a>
    <a href="/googlechart" class="btn btn-primary">GoogleChart</a>
    <a href="/cfcrawler" class="btn btn-secondary">Codechef Crawler</a>
    <a href="/todo" class="btn btn-success">Add Todo</a>
    <a href="/todowithstorage" class="btn btn-warning">Add Todo With Storage</a>
</div>

