<div class="container">
    <div class="title">Generate color code</div>
    <div id="color">rgb(50,50,50)</div>
    <div class="sliders">
        <div class="slider1">
            <div id="Red"></div>
            <input id="RedSlider" oninput="colorGenerator()" type="range" min="0" max="255" value="50">
        </div>
        <div class="slider2">
            <div id="Green"></div>
            <input id="GreenSlider" oninput="colorGenerator()" type="range" min="0" max="255" value="50">
        </div>
        <div class="slider2">
            <div id="Blue"></div>
            <input id="BlueSlider" oninput="colorGenerator()" type="range" min="0" max="255" value="50">
        </div>
    </div>
</div>
